body {
    background-color:aquamarine;
}
/* footer */
#footerlist{
    list-style: none;
}

#snsicon{
    float: left;
}
.footercontent a{
    text-decoration: none;
}

/* .footercontent{

} */

footer{
    background-color: chocolate;
}
