
/* footer */
#footerlist{
    list-style: none;
}

#snsicon{
    float: left;
    margin-left: 50px;
}

footer{
    border-top: 1px solid #bfcbd9;
    width: 100%;
}

h3.footermenu{
    margin-top: 50px;
    margin-bottom: 30px;
    font-style: bold;
    text-align: center;
}

li a{
    color: black;
    text-decoration: none;
}

li.footercontent{
    text-align: center;
    line-height: 30px;
}

h5.righttext{
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
}

/* 　1枚目 */
/* .title{
    position: relative;
}*/


/* .title h5{
    position: absolute;
    color: cornflowerblue;
    font-size: 12px;
    top: 0;
    left: 0;
}  */

#titlelogo{
    margin: 0;
    padding: 0;

}

.toppage {/*親div*/
    position: relative;/*相対配置*/
    }

.toppage p {
    position: absolute;/*絶対配置*/
    color: white;/*文字は白に*/
    top: 0;
    left: 0;
    }

.toppage img {
    width: 100%;
    }

/* outline */
#searchbox{
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
    margin-top: 20px;
    background: none;
}

#searchicon{
    margin-top: 30px;
}

.searchbutton{
    margin-top: 25px;
    margin-left: -25px;
}

#groupposition{
    margin-top: 30px;
}

/* 各ページタイトル文字を編集 */
.themetitle{
    font-size: 30px;
    text-align: center;
}

/* help ヘルプページ編集CSS */
.cp_qa *, .cp_qa *:before, .cp_qa *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

    .cp_qa {
    margin: 0 auto;
    background: #ffffff;
    }

    .cp_qa input {
    display: none;
    }

    /* カテゴリー */
    .cp_qa #cp_content1,
    .cp_qa #cp_content2,
    .cp_qa #cp_content3,
    .cp_qa #cp_content4 {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #dddddd;
    }
    .cp_qa label.cp_tabitem {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    text-align: center;
    color: #bbbbbb;
    border: 1px solid transparent;
    }

    .cp_qa label.cp_tabitem:before {
    margin-right: 10px;
    }

    .cp_qa label.cp_tabitem[for*='1']
    .cp_qa label.cp_tabitem[for*='2']
    .cp_qa label.cp_tabitem[for*='3']
    .cp_qa label.cp_tabitem[for*='4']
    .cp_qa label.cp_tabitem:hover {
    cursor: pointer;
    color: #888888;
    }
    .cp_qa input:checked + label {
    color: #555555;
    border: 1px solid #dddddd;
    border-bottom: 1px solid #ffffff;
    }
    /* --ブロックのバーの色 */
    .cp_qa input:checked + label[for*='1'] {
    border-top: 5px solid #00BCD4;
    }
    .cp_qa input:checked + label[for*='2'] {
    border-top: 5px solid #FF5722;
    }
    .cp_qa input:checked + label[for*='3'] {
    border-top: 5px solid #03A9F4;
    }
    .cp_qa input:checked + label[for*='4'] {
    border-top: 5px solid #E91E63;
    }
    @media screen and (max-width: 650px) {
    .cp_qa label.cp_tabitem {
    font-size: 0;
    }
    label:before {
    font-size: 18px;
    margin: 0;
    }
    }
    @media screen and (max-width: 400px) {
    .cp_qa label.cp_tabitem {
    padding: 15px;
    }
    .cp_qa label.cp_tabitem:before {
    margin-right: 0px;
    }
    }
    /* QAブロック */
    .cp_qa #cp_conttab1:checked ~ #cp_content1,
    .cp_qa #cp_conttab2:checked ~ #cp_content2,
    .cp_qa #cp_conttab3:checked ~ #cp_content3,
    .cp_qa #cp_conttab4:checked ~ #cp_content4 {
    display: block;
    }
    .cp_qa .cp_qain {
    overflow-x: hidden;
    margin: 0 auto;
    color: #333333;
    }
    .cp_qa .cp_qain .cp_actab {
    padding: 20px 0;
    border-bottom: 1px dotted #cccccc;
    }
    /* 質問 */
    .cp_qa .cp_qain label {
    position: relative;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 10px 0 48px;
    cursor: pointer;
    }
    /* ＋アイコン */
    .cp_qa .cp_qain .cp_plus {
    font-size: 2em;
    line-height: 100%;
    position: absolute;
    z-index: 5;
    margin-top: 3px;
    margin-left: 10px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    }
    /* 答え */
    .cp_qa .cp_qain .cp_actab-content {
    position: relative;
    overflow: hidden;
    height: 0;
    margin: 0 10px 0 48px;
    padding: 14px 0;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    opacity: 0;
    }
    /* 質問を開いた時の仕様 */
    .cp_qa .cp_qain .cp_actab input[type=checkbox]:checked ~ .cp_actab-content {
    height: auto;
    opacity: 1;
    }
    /* 質問をクリックした時の▼アイコンの動き */
    .cp_qa .cp_qain .cp_actab input[type=checkbox]:checked ~ .cp_plus {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    }

/* relaccumについて　about page */
#about1{
    background-color: black;
    width: 100%;
}

/* カテゴリー、グループ、イベントの一覧ページテーブルの場所 */
#tableposition{
    margin-top: 20px;
}
