body {
    background-color:aquamarine;
}
/* footer */
#footerlist{
    list-style: none;
}

#snsicon{
    float: left;
    justify-content: center;
}

footer{
    border-top: 1px solid #bfcbd9;
    width: 100%;
    background-color: chocolate;
}

h3.footermenu{
    text-align: center;
    font-style: bold;
}

li.footercontent{
    text-align: center;
    line-height: 30px;
}
